.Header {
	font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #008000;
	text-decoration: none;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	word-spacing: normal;
	white-space: normal;
	display: block;
	vertical-align: top;
	height: auto;
	width: 860px;
	padding-left: 20px;
	padding-right: 20px;
}
.Header_rev {
	font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: normal;
	text-align: left;
	vertical-align: middle;
	word-spacing: normal;
	white-space: normal;
	display: block;
	height: auto;
	width: 860px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	background-color: #008000;
}
.Annoucement {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #CC0000;
	text-decoration: blink;
	letter-spacing: normal;
	text-align: left;
	vertical-align: top;
	word-spacing: normal;
	white-space: normal;
	display: block;
	height: auto;
	width: 860px;
	padding-right: 20px;
	padding-left: 20px;
}
.Annoucement_text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	text-align: left;
	vertical-align: top;
	word-spacing: normal;
	white-space: normal;
	display: block;
	width: 860px;
	padding-left: 20px;
	padding-right: 20px;
}
.Announcement_text_emphasis {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #CC0000;
	text-decoration: none;
	letter-spacing: normal;
	text-align: left;
	word-spacing: normal;
	white-space: normal;
	vertical-align: top;
}
.Body_text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	text-align: left;
	vertical-align: top;
	word-spacing: normal;
	white-space: normal;
	display: block;
	height: auto;
	width: 860px;
	padding-right: 20px;
	padding-left: 20px;
	float: none;
}
.Column_text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	text-align: left;
	vertical-align: top;
	word-spacing: normal;
	white-space: normal;
}
.Image_R {
	float: right;
	height: auto;
	width: auto;
	padding-left: 15px;
	vertical-align: top;
	clear: none;
	padding-right: 20px;
}
.Body_text_bullet {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	list-style-type: disc;
	list-style-position: outside;
	letter-spacing: normal;
	vertical-align: baseline;
	word-spacing: normal;
	text-align: left;
	white-space: normal;
}
.Header_display {
	font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #008000;
	text-decoration: none;
	letter-spacing: normal;
	text-align: left;
	word-spacing: normal;
	white-space: normal;
}
.Header_display_sub {
	font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #008000;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	letter-spacing: normal;
	text-align: left;
	word-spacing: normal;
	white-space: normal;
}
.Links_nav {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	text-align: left;
	word-spacing: normal;
	white-space: normal;
	vertical-align: top;
	display: block;
	height: auto;
	width: 860px;
	padding-left: 20px;
	padding-right: 20px;
}
.Copyright {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-align: center;
}
.Body_text_note {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	text-align: left;
	word-spacing: normal;
	white-space: normal;
}
.Contact {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #CC0000;
	text-decoration: none;
	text-align: left;
}
